/* #region GLOBAL */
:root{
   --accent-color: #ED1C24; 
}

/* Ändra bakrundsfärgen när man drar över text */
::selection{
    background: var(--accent-color);
    color: white;
}

/* Ändrar i firefox */
::-moz-selection{
    background: var(--accent-color);
    color: white;
}

/* Ta bort all margin och padding samt gör all text vit då bakgrunden är svart */
*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    font-family: 'Raleway', sans-serif;
    background: black;
}

body,html{
    width: 100%;
    height: 100%;
}
/* #endregion GLOBAL */

/* #region HERO*/

/* Gör så att den stora bilden på första sidan alltid täcker hela skärmen */
.hero{
    width: 100%;
    height: 100%;
}

.full_bg{
    background-image: url('../assets/images/first_page_full.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Använder flexbox här för att få "scroll down" knappen längst ner i mitten på bilden */
    display: flex;
    justify-content: center;
    align-items: end;
}

.full_bg > div{
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.full_bg div, .full_bg i{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.full_bg a{
    text-decoration: none;
}

.full_bg i{
    width: 20px;
}
/* #endregion HERO */

/* #region FOOTER */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid white;
}

#copyright{
    width: 100%;
    text-align: center;
    color: white;
}

.footer_flex{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 0 30px 0;
}

.footer_flex > section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333333333%;
}

#copyright{
    padding-bottom: 20px;
}

.footer_address p, .footer_opening_hours span{
    font-size: 1.3em;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.social i{
    font-size: 31px;
    margin: 0 10px;
}

/* KARTAN. Från https://www.embedgooglemap.net */
.mapouter{position:relative;text-align:right;height:250px;width:350px;}
.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:350px;}
/* #enregion FOOTER */

/* MAIN CONTENT */
main{
    width: 100%;
}

/* #region ARTICLES */
.section{
    width: 100%;
    height: 250px;
    background: black;
    display: flex;
}

.inner-image{
    width: 400px;
    background: black;
    overflow: hidden;
}

.inner-text{
    width: calc(100% - 350px); /* Gör text delen av "artiklarna" tillräckligt stora för att få plats brevid bilden. 100% - bildens bredd. */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    font-size: 18px;
}

/* 
    Varannan 'artikel' ska ha bilden på höger och texten på vänster och varannan ska ha tvärt om.
    Med hjälp av flex är detta väldigt lätt då man bara kan använda sig av order.
    Om man sätter klassen alt1 på artikeln hamnar bilden till höger och texten till vänster.
    Om man sätter klassen alt2 på artikeln hamnar bilden till vänster och texten till höger.
*/
.one .inner-image{ order: 1; }
.one .inner-text{ order: 2; }

.two .inner-image{ order: 2; }
.two .inner-text{ order: 1; }

/* #endregion ARTICLES */

/* #region FP IMAGES */
/* Front page images */
.image{
    height: 500px;

    /* Skapa parallax effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fp1{
    background-image: url('../assets/images/fp-1.jpg');
}

.fp2{
    background-image: url('../assets/images/fp-2.jpg');
}

.fp3{
    background-image: url('../assets/images/fp-3.jpg');
}

.reg_error{
    color: red;
    padding: 5px 0;
}
/* #endregion FP IMAGES */

/* #region TABLET*/
/* 1195px => tablet */
@media screen and (max-width: 1185px){
    .inner-image{
        display: none;
    }

    .inner-text{
        width: 100%;
    }

    .inner-text p{
        width: 100%;
    }

    main article:not(.image){
        height: auto !important;
    }
}

@media screen and (max-width: 1000px){
    .footer_flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_opening_hours{
        width: 100%;
    }

    .footer_flex section{
        margin: 20px 0;
    }
}
/* #endregion TABLET*/

/* #region MOBILE */

/* #endregion MOBILE */