/* #region MAIN */
main{
    padding-top: 50px;
}

main h1{
    text-align: center;
    padding-bottom: 50px;
}

/* #region MENU */
.menu_list{
    width: 50%;
    margin: 0 auto;
}

.menu_list_item{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.menu_item_title{
    font-weight: 700;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.menu_item_price{
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 5px;
}

.menu_item_desc{
    font-style: italic;
}

.menu_list_category{
    color: var(--accent-color);
    list-style-type: none;
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 40px;
    text-transform: uppercase;
}

.menu_list_first{
    padding-top: 0;
}

.menu_item_right{
    text-align: right;
}

.menu_item_left {
    max-width: 80%;
}

.divider{
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid var(--accent-color);
    padding: 20px 0 5px 0;
}
/* #endregion MENU */

/* #region SEARCH */
.searchBtn button{
    background: var(--accent-color);
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
}

.searchBtn button i{
    padding: 0 10px 0 0;
}
/* #endregion SEARCH */
/* #endregion MAIN*/

/* #region MODAL */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.modal .box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 450px;
    background: white;
    margin-top: -245px;
    margin-left: -420px;
    transition: margin .2s ease-in-out;
}

.modal .close_btn{
    position: absolute;
    left: 100%;
    bottom: 100%;
    margin-left: -25px;
    margin-bottom: -30px;
    height: 24px;
    width: 24px;
}

.modal .close_btn i{
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.modal .modalContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.modal .close_btn i{
    color: var(--accent-color);
}

.modal_open{
    opacity: 1;
    pointer-events: all;
}

.modal_open .box{
    margin-top: -225px;
}

.searchModal .modalContent{
    padding: 40px 0 0 0;
}

#search_input{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    font-size: 31px;
    font-weight: 700;
    color: black;
}

#search_menu_list *{
    color: black;
}

#search_menu_list{
    width: 90%;
}

.searchResult{
    width: 100%;
    overflow-y: scroll;
}

.cat{
    font-size: 12px;
    color: #333;
}
/* #endregion MODAL */

@media screen and (max-width: 775px){
    .menu_list{
        width: 90% !important;
    }
}

@media screen and (max-width: 1000px){
    .box{
        width: 90% !important;
        margin-left: -45% !important;
    }
}

@media screen and (max-width: 480px){
    .searchForm{
        width: 90% !important;
    }

    #search_input{
        width: 100% !important;
    }
}